<h6>Create Todo:</h6>
<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <input 
      type="text" 
      name="description"
      class="form-control"
      id="description"
      [(ngModel)]="model.description"
      #description="ngModel"
      placeholder="Description">
    </div>

    <div class="col-auto">
      <input type="text" 
      name="responsible"
      class="form-control"
      id="responsible"
      [(ngModel)]="model.responsible"
      #responsible="ngModel"
      placeholder="Responsible">
    </div>

    <div class="col-auto">
      <select name="priority"
      id="priority" 
      class="form-control"
      [(ngModel)]="model.priority"
      #priority="ngModel">
        <option disabled selected value="">Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
<br />
<h6>Todos List:</h6>
<div *ngIf="(todos | async)?.length!=0">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Todo Description</th>
        <th>Responsible</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of todos | async">
        <td>
          <span (click)="toggleTodo(item)" [class.completed]="item.isCompleted">{{item.id}}</span>
        </td>
        <td>
          <span (click)="toggleTodo(item)" [class.completed]="item.isCompleted">{{item.description}}</span>
        </td>
        <td>
          <span (click)="toggleTodo(item)" [class.completed]="item.isCompleted">{{item.responsible}}</span>
        </td>
        <td>
          <span *ngIf="item.priority === 'low'" class="badge badge-success">Low</span>
          <span *ngIf="item.priority === 'medium'" class="badge badge-warning">Medium</span>
          <span *ngIf="item.priority === 'high'" class="badge badge-danger">High</span>
        </td>
        <td>
          <button class="btn btn-primary" (click)="removeTodo(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
